{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section bg-info">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group" >
                <legend class="border-bottom mb-4 bg-success" style="color: white;">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                <h5>Already have an Account?</h5> <a class="ml-2 btn btn-success" href="{% url 'login' %}">Sign in</a>
            </small>
        </div>
    </div>
{% endblock content %}
